* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    padding: 10px;
    text-align: center;
    color: #333;
}
h1{
    text-align: center; 
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:lightgray;
    color: #333;
}
.header{
    text-align: center;
    background-color: azure;
    color: black;
    padding: 10px;
}

section{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

ul li{
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}
html {
    scroll-behavior: smooth;
}
button:hover {
    background-color: #ccc;
    cursor: pointer;
}
.button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}
.Quiz-Section {
    display: block;
    margin: 10px auto;
    padding: 10 px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: darkblue;
    color: #ccc;
    scroll-behavior: smooth;
}
.Quiz-Section button {
    background-color: aqua;
    padding: 10 px;
    border: grey;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    transition: background-color 0.3 ease;
}
.Quiz-Section button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.Propagation-techniques {
    scroll-behavior: smooth;
}
